<head>
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <!-- nav Bar -->
    <nav id="header-nav" role="navigation">
        <a href="./index.html" class="non-decorate">Home</a>
        <a href="./intro.html" class="non-decorate">Intro</a>
        <a href="./about.html" class="non-decorate">About</a>
    </nav>
    <!-- End -->
</head>
<body>

    <div class="content">
        
        <!-- <p>><input type="text" name="input" maxlength="50" size="35"></p> -->
    </div>
</body>