<style>
    .non-decorate{

        text-decoration: none;
    }
    .right-align{
        text-align: right;
    }
</style>

<!-- nav Bar -->
<nav id="header-nav" role="navigation">
    <a href="./index.html" class="non-decorate">Home</a>
    <a href="./intro.html" class="non-decorate">Intro</a>
    <a href="./about.html" class="non-decorate">About</a>
</nav>
<!-- End -->
<div class="content">
    <h1>Mov1e Studio &copy;</h1>
    <p>A fully responsive site designed by <a href="https://github.com/Out-of-Space-Studio">Out of Space Studio &copy;</a></p>


</div>